/* ----------------     color schemes     ---------- */


/* $teal_green = '#004d6d'; */


/* ----------------------------------------------- */

@font-face {
    font-family: PierSans;
    src: url(../Fonts/PierSans/PierSans-Light.otf);
}

@font-face {
    font-family: TTNorms;
    src: url(../Fonts/TTNormsFonts/TTNorms_Regular.otf);
}

@font-face {
    font-family: Manrope;
    src: url(../Fonts/Manrope/manrope-regular.otf);
}

@font-face {
    font-family: orkney;
    src: url(../Fonts/orkney/Orkney-Regular.otf);
}

@font-face {
    font-family: Sk_Modernist;
    src: url(../Fonts/Sk-Modernist/Sk-Modernist-Regular.otf);
}

@font-face {
    font-family: Archia;
    src: url(../Fonts/Archia/archia-regular-webfont.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../Fonts/Sans-Serif/Roboto-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserratt;
    src: url(../Fonts/Montserratt/Montserrat-Regular.ttf);
}

@font-face {
    font-family: KayakSans;
    src: url(../Fonts/KayakSans/Kayak_Sans_Regular.otf);
}

@font-face {
    font-family: KayakSansBold;
    src: url(../Fonts/KayakSans/Kayak_Sans_Bold.otf);
    font-display: block;
}

html,
body {
    font-family: KayakSansBold !important;
    /* letter-spacing: 0px; */
}

.black_anchor {
    color: black;
}

.white_anchor {
    color: white;
}

.width-99 {
    width: 100% !important;
    word-wrap: break-word !important;
}

.paginate_button .typcn:before {
    font-size: 23px !important;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: 0px !important;
    content: "";
    border-top: .4em solid !important;
    border-right: .4em solid transparent !important;
    border-bottom: 0;
    border-left: .4em solid transparent !important;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.bottom-shadow {
    box-shadow: 0 1px 20px 0px #d0d0d0;
}

.navbar_profile_icon {
    background: red;
    width: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.bg-lightt {
    background-color: #142850 !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}


/* .col-md-6 {
    margin-right: 0px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}*/


/* ///////////////////////////////////////////////////////////////////////////////// */

.grey_font {
    color: #777777;
}

table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
    border-spacing: 0;
}

.table-bordered {
    border: 1px solid #ffffff !important;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ffffff !important;
}

.table th,
.table td {
    padding: 8px 15px !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 3px;
    display: block;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    letter-spacing: 1px;
    color: #676767;
    text-transform: uppercase;
    padding-right: 30px;
    font-size: 14px;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    font-size: smaller;
}

.page-item.disabled .page-link {
    color: #00a8cc;
    pointer-events: none;
    cursor: auto;
    background-color: #fff0;
    border-color: #ffffff !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff !important;
    background-color: #00a8cc !important;
    border-color: #ffffff !important;
}

.typcn:before {
    position: relative !important;
    top: -3px !important;
    font-size: 20px !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    color: #00a8cc;
    background-color: #fff0;
    border: 1px solid #ffffff !important;
}

.noti-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #000;
    border-color: transparent transparent #fff;
    margin-top: -27px;
    margin-left: 286px;
}

.noti-title {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

#notification .dropdown-item {
    padding: .25rem 15px !important;
}

.notification_bottom_patch_left {
    font-size: 12px;
    color: #8a8787;
    float: left;
}

.notification_bottom_patch_right {
    font-size: 12px;
    color: #8a8787;
    float: right;
}

.notification_icon {
    width: 35px;
    background: red;
    border-radius: 100%;
}

a,
a:hover {
    text-decoration: none !important;
}

.notification_viewall a {
    color: #ffffff !important;
}

.notification_viewall {
    border-bottom-left-radius: 8px;
    font-size: 15px;
    color: white;
    background: #142850;
    padding: 4px 0px;
    text-align: center;
    border-bottom-right-radius: 8px;
}

.notification_dot {
    right: 11px;
    position: relative;
    top: -7px;
    color: #00a8cc;
}

.notification_dot::after {
    /* position: relative; */
}

.notificatn_profile_div {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.notificatn_profile_div_main {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.notifican_leftpad {
    padding-left: 0px !important;
}

.new-noti-title {
    font-weight: bolder;
    letter-spacing: 1px;
}

.profile_div {
    padding: 20px;
}

.hris_prfile {
    text-align: center;
    /* background-color: #f9fafc; */
    padding-top: 20px;
    margin-top: -20px;
    /* border-bottom: 1px solid #f0f0f0; */
}

.btnn {
    cursor: pointer;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    border-radius: 5px;
    background: #142850;
    padding: 10px 15px;
    color: white;
}

.btnn:hover {
    color: #142850;
    background: #ffffff;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.danger_btn {
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    border-radius: 5px;
    background: #e4314e;
    padding: 10px 15px;
    color: white;
}

.danger_btn:hover {
    color: #e21313;
    background: #ffffff;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.danger_btn:hover .edit_icon {
    filter: invert(0.2) !important;
}

.btnn:hover .edit_icon {
    filter: invert(0.2) !important;
}

.grey {
    color: grey;
}

.typcn:before {
    font-size: 40px !important;
}

.profile_open {
    margin-top: 13px !important;
    transition: all .5s ease;
}

.profile_open::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #000;
    border-color: transparent transparent #fff;
    margin-top: -27px;
    margin-left: 219px;
}


/* ////////////////////////////////////////////////////////////// */

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.hvr-bounce-to-right:before {
    background: #40bfc117 !important
}

.hvr-bounce-to-right:active:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
    transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


/* /////////////////////////////////////////////////// */

.width35 {
    width: 35% !important;
}

.bold_txt {
    font-weight: 700;
    color: #142850;
}

.hris_prfile img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px #ddd;
    border: 3px solid #fff;
}

.edit_hris_prfile img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px #ddd;
    border: 5px solid #ffffff;
}

.profile_icon {
    text-align: center;
}


/* //////////////////////////////////////// */

.dropdown-item:focus,
.dropdown-item:hover {
    border-left: 4px solid #40bfc1;
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #40bfc1 !important;
}

.noti-count {
    font-size: 13px;
    background: #40bfc1;
    padding: 3px 8px;
    border-radius: 25px;
    color: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6 !important;
    border-top: 0px solid white !important;
}

.page-link {
    border-radius: 50%;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 0.9 !important;
    color: #00a8cc;
    background-color: #fff0 !important;
    border: 0px solid #dee2e6 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 9.2px !important;
    display: block;
}

div.dataTables_wrapper div.dataTables_filter input {
    border: none;
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.table-hover tbody tr:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04) !important;
}


/* /////////////////////////////////////////////////////////////// */

.form-control {
    background-color: #fff0 !important;
}

.margin_left_right {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar_profile_icon_name {
    border-radius: 50%;
    width: 25px;
    background: red;
}

.blue_circle {
    color: #40bfc1;
}

.yellow_circle {
    color: #fddb3a;
}

.typcn-home-outline:before {
    content: '\e089';
    font-size: 30px !important;
}

.fafa_icon {
    margin: 5px 5px;
    font-size: 15px;
}

.fafa_add_circle_left {
    font-size: 20px !important;
    color: white;
    padding: 12px 0px 12px 15px;
    background: #00a8cc;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    /* border-radius: 50%; */
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

.fafa_add_circle_left::after {
    font-size: 20px !important;
    position: relative;
    margin-left: 15px;
    content: "\2759";
    top: 0px;
}

.fafa_add_circle_right {
    font-size: 20px !important;
    color: white;
    padding: 12px 15px;
    background: #00a8cc;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    /* border-radius: 50%; */
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

.absolute_add_btn {
    right: 60px;
    top: 28px;
    position: absolute;
}

.h3_title {
    margin: 0;
    font-size: 16px;
    padding: 0px 20px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.bold_text {
    font-weight: 600;
    letter-spacing: 1px;
}

.qqlabell {
    clear: both;
    border-bottom: 1px solid #f5f5f5;
    line-height: 20px;
    padding-top: 15px;
    margin-top: 10px;
    position: relative;
    width: calc(100% - 85px);
    white-space: nowrap;
}

.aaalabel {
    width: 33%;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    padding-right: 2%;
    line-height: 18px;
    vertical-align: top;
    color: #666;
}

.aaalabel::after {
    content: '';
    position: absolute;
    width: 20px;
    background: #f27b77;
    height: 2px;
    bottom: 0;
    left: 0;
}

.main_card {
    background: #ffffff;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.second_card {
    /* border-right: 5px solid #142850; */
    /* border-left: 5px solid #142850; */
    border-radius: 10px;
    background: white;
    padding: 20px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.textbx-label:after {
    content: '';
    border: 0 solid transparent;
    border-bottom: 1px solid rgba(222, 222, 222, 0.4);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
}

.textbx-label {
    display: inline-block;
    width: 67%;
    word-wrap: break-word;
    vertical-align: bottom;
    position: relative;
    white-space: normal;
    min-height: 30px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 4px;
}

.txt-edit,
.textarea-edit {
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0px;
    border-color: #f5f5f5;
    border-color: #fff;
    background-color: transparent;
    height: inherit;
    line-height: 20px;
    font-size: 16px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.txt-edit:focus,
.txt-edit:hover {
    border-bottom: 1px solid grey;
    border-color: #458bd6 !important;
    transition: border-color ease .5s;
    -webkit-transition: border-color ease .5s;
    -moz-transition: border-color ease .5s;
    -ms-transition: border-color ease .5s;
    -o-transition: border-color ease .5s;
}

.form-control:focus,
.form-control:hover {
    /* border-radius: 0px;
    color: #495057;
    border-bottom: 1px solid #00a8cc !important; */
}

.form-control {
    border: 0px solid #ced4da !important;
    box-shadow: none;
    padding: 5px 12px 5px 3px !important;
    /* line-height: 0px !important; */
    line-height: 1.5 !important;
    /* border: 0px solid !important; */
}

.bottom_border {
    border-bottom: 2px solid;
    /* position: absolute; */
}

.h3_title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    background-color: #00a8cc;
    width: 25px;
    height: 30px;
    border-radius: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bottom_line {
    margin: 0px 20px;
    margin-top: -6px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #ccc;
}

.left_right_20px_margin {
    margin: 0px 20px !important;
}


/* /////////////////////////////   Timer ANimation    ///////////////////////////////////// */

.checkout_btn {
    border-radius: 1000px;
    /* padding-right: 36px !important; */
    font-size: 18px;
    /* padding-left: 10px !important; */
    background: #9d0b0b !important;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    padding: 10px 40px 10px 10px;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.checkin_btn {
    border-radius: 1000px;
    font-size: 18px;
    background: #142850 !important;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    padding: 10px 47px 10px 10px;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


/* //////////////      moving loader      /////////////// */

.clock {
    border-radius: 70px;
    border: 2px solid #fff;
    position: absolute;
    top: 120%;
    left: 161px;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 25px;
    height: 25px;
}

.clock:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: -1px;
    left: 43%;
    height: 12px;
    width: 2px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
    transform-origin: 50% 97%;
    -webkit-animation: grdAiguille 2s linear infinite;
    animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes grdAiguille {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.clock:before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 43%;
    height: 10px;
    width: 2px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 94%;
    transform-origin: 50% 94%;
    -webkit-animation: ptAiguille 12s linear infinite;
    animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ptAiguille {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* ///////////////         end moving loader         ///////////////// */


/* //////////////////         stop loader          /////////////// */

.clock_stop {
    border-radius: 70px;
    border: 2px solid #fff;
    position: absolute;
    top: 120%;
    left: 150px;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 25px;
    height: 25px;
}

.clock_stop:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: -1px;
    left: 43%;
    height: 12px;
    width: 2px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
    transform-origin: 50% 97%;
}

.clock_stop:before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 43%;
    height: 10px;
    width: 2px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 94%;
    transform-origin: 50% 94%;
}


/* ////////////////////////        end        ////////////////// */


/* //////////////////////////////////////////////////////////////////////////////////////// */

.scrollbar {
    height: 300px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #142850;
}


/* //////////////////////////////   Animated CHeckbox   //////////////////////////////////// */

.checkbox-animate label {
    position: relative;
    cursor: pointer;
    top: 6px;
    left: 25px;
}

.checkbox-animate label input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.input-check {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid #142850;
    position: relative;
    top: 8px;
    margin-right: 7px;
    transition: 0.4s;
}

.input-check::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 6px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: scale(0) rotate(-45deg);
    position: absolute;
    top: 6px;
    left: 4px;
    transition: 0.4s;
    -webkit-transform: scale(0) rotate(-45deg);
    -moz-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
    -o-transform: scale(0) rotate(-45deg);
}

.checkbox-animate label input:checked~.input-check {
    background-color: #142850;
    border-color: #142850;
    animation-name: input-animate;
    animation-duration: 0.7s;
}

.checkbox-animate label input:checked~.input-check::before {
    transform: scale(1) rotate(-45deg);
    animation-name: input-check;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
    -webkit-transform: scale(1) rotate(-45deg);
    -moz-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    -o-transform: scale(1) rotate(-45deg);
}

@keyframes input-animate {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3, 0.7);
    }
    55% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2, 0.8);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.1, 0.9);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@keyframes input-check {
    0% {
        transform: scale(0) rotate(-45deg);
        -webkit-transform: scale(0) rotate(-45deg);
        -moz-transform: scale(0) rotate(-45deg);
        -ms-transform: scale(0) rotate(-45deg);
        -o-transform: scale(0) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
        -webkit-transform: scale(1) rotate(-45deg);
        -moz-transform: scale(1) rotate(-45deg);
        -ms-transform: scale(1) rotate(-45deg);
        -o-transform: scale(1) rotate(-45deg);
    }
}


/* /////////////////////////////////     END          ////////////////////////////////////////// */

.no_left_margin {
    margin-left: 0 !important;
}

.no_padding_left {
    padding-left: 0px !important;
}

.dcard {
    position: relative;
    background: white;
    height: 350px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rg ba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.06);
    /* -webkit-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms; */
}

.card_hdr {
    padding: 8px 15px;
    font-weight: 800;
    font-size: 18px;
    border-bottom: 1px solid #efefef;
}

.dcard:hover {
    background: #fcfcfc;
}

.dcard:hover .d_count {
    padding: 0px 15px;
    background: #142850;
    transition: padding 0.20s linear 0.020s;
    -webkit-transition: padding 0.20s linear 0.020s;
    -moz-transition: padding 0.20s linear 0.020s;
    -ms-transition: padding 0.20s linear 0.020s;
    -o-transition: padding 0.20s linear 0.020s;
}

.d_count {
    color: white;
    border-radius: 25px;
    padding: 0px 10px;
    background: #00a8cc;
    float: right;
}

.no_border {
    border-top: 0px solid #ffffff !important;
}

.icon_show {
    display: none;
}

.padding_10_15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

tr:hover .icon_show {
    cursor: pointer;
    display: inline-block;
    transition: display 0.20s linear 0.020s;
    -webkit-transition: display 0.20s linear 0.020s;
    -moz-transition: display 0.20s linear 0.020s;
    -ms-transition: display 0.20s linear 0.020s;
    -o-transition: display 0.20s linear 0.020s;
}

.edit_icon {
    width: 15px;
    margin-right: 10px;
    filter: invert(0.6);
    -webkit-filter: invert(0.6);
}

.cross_icon {
    width: 15px;
    filter: invert(0.6);
    -webkit-filter: invert(0.6);
}

.edit_icon:hover,
.cross_icon:hover {
    filter: invert(0.2);
    -webkit-filter: invert(0.2);
}

.dcard:hover .card_hdr {
    border-top-left-radius: 10px;
    padding: 8px 10px;
    border-left: 7px solid #142850;
    transition: border-left 0.20s linear 0.020s;
    -webkit-transition: border-left 0.20s linear 0.020s;
    -moz-transition: border-left 0.20s linear 0.020s;
    -ms-transition: border-left 0.20s linear 0.020s;
    -o-transition: border-left 0.20s linear 0.020s;
}

.dcard .footer {
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    color: #142850;
    width: 100%;
    height: auto;
    bottom: 0;
}

.dcard:hover .footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    text-align: center;
    font-weight: 700;
    background-color: #142850;
    color: #ffffff;
    width: 100%;
    height: auto;
    bottom: 0;
    transition: background-color 0.040s linear 0.040s;
    -webkit-transition: background-color 0.040s linear 0.040s;
    -moz-transition: background-color 0.040s linear 0.040s;
    -ms-transition: background-color 0.040s linear 0.040s;
    -o-transition: background-color 0.040s linear 0.040s;
}


/* .round_dot_1 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #f9f9f9;
    position: absolute;
    left: -6px;
    top: 38px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.round_dot_2 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #f9f9f9;
    position: absolute;
    right: -5px;
    top: 38px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
} */

.a_btn {
    color: white !important;
    cursor: pointer;
}

.a_btn:hover {
    color: #142850 !important;
}

.show {
    transform: none !important;
}


/* ////////////////////                MODEL CSS              //////////////////////// */

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.popup-content {
    border-top: 5px solid #00a8cc !important;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.popup-content p {
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}

.popup-content span {
    right: -8px;
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    top: -32px;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.more-articles {
    margin: 30px 30px 50px;
    font-size: 20px;
}

.more-articles a {
    margin: 0 10px;
    text-decoration: underline;
}


/* /////////////////////////////////              TOP MODEL                ///////////////// */


/* text-based popup styling */

.white-popup {
    position: relative;
    background: #FFF;
    padding: 25px;
    width: auto;
    max-width: 400px;
    margin: 0 auto;
}


/*

  ====== Move-from-top effect ======

  */

.mfp-move-from-top .mfp-content {
    vertical-align: top;
}

.mfp-move-from-top .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-100px);
}

.mfp-move-from-top.mfp-bg {
    opacity: 0;
    transition: all 0.2s;
}

.mfp-move-from-top.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: translateY(0);
}

.mfp-move-from-top.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-move-from-top.mfp-removing .mfp-with-anim {
    transform: translateY(-50px);
    opacity: 0;
}

.mfp-move-from-top.mfp-removing.mfp-bg {
    opacity: 0;
}


/* //////////////////////////////////////////////////// */

.heading {
    border-bottom: 2px solid #00a8cc;
    width: 25%;
}

.input_text {
    padding: 6px;
    width: 100%;
}

.text_title {
    margin-top: 8px;
}


/* ////////////////////////////             END                  ////////////////////////// */


/* ///////////////////////       social   icons       ///////////////////////// */

#social {
    margin: 20px 0px 20px 10px;
    text-align: center;
}

.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}


/* facebook button class*/

.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
}


/* twitter button class*/

.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
}


/* google plus button class*/

.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
}


/* linkedin button class*/

.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
}


/* pinterest button class*/

.pinterestBtn {
    background: #cb2027;
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.pinterestBtn:hover {
    color: #cb2027;
    background: #fff;
}


/* tumblr button class*/

.tumblrBtn {
    background: #3a5876;
}

.tumblrBtn:before {
    font-family: "FontAwesome";
    content: "\f173";
    /* add tumblr icon */
}

.tumblrBtn:hover {
    color: #3a5876;
    background: #fff;
}


/* rss button class*/

.rssBtn {
    background: #e88845;
}

.rssBtn:before {
    font-family: "FontAwesome";
    content: "\f09e";
    /* add rss icon */
}

.rssBtn:hover {
    color: #e88845;
    background: #fff;
}


/* ///////////////////////////         end          ////////////////////////////// */

.abut_font {
    color: #757575;
    font-size: 20px;
    text-transform: uppercase;
}

.border_red {
    width: 80px;
    margin: 0px 20px;
    margin-top: -6px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #e4314e;
}

.margin_bottm_0 {
    margin-bottom: 0px;
}

.center_line {
    border-radius: 50px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    width: 30% !important;
    border-top: 5px solid rgba(12, 12, 12, 0.22) !important;
}

.popup-container .show .container-fluid {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

button:focus {
    outline: none !important;
}

.left_border {
    position: relative;
    line-height: 50px;
    float: left;
    left: -17px;
    padding: 0px 20px;
    overflow: hidden;
}

.left_border::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    background-color: #00a8cc;
    width: 25px;
    height: 30px;
    border-radius: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.flip-card-3D-wrapper {
    width: 60%;
    height: 80%;
    max-width: 95%;
    left: -10px;
    max-height: 100%;
    position: relative;
    -o-perspective: 900px;
    -webkit-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    margin: 0 auto;
}

#flip-card {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 5px auto;
    position: absolute;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

#flip-card-btn-turn-to-back,
#flip-card-btn-turn-to-front {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: white;
    cursor: pointer;
    visibility: hidden;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 600;
    font-size: .7em;
    padding: 0;
    color: grey;
    border: 1px solid grey;
}

#flip-card .flip-card-front,
#flip-card .flip-card-back {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
    -moz-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
    box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
}


/*
#flip-card .flip-card-front {
    background: lightgreen;
    border: 1px solid grey;
} */

#flip-card .flip-card-back {
    /* background: lightblue;
    border: 1px solid grey; */
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip-card .flip-card-front p,
#flip-card .flip-card-back p {
    color: grey;
    display: block;
    position: absolute;
    top: 51%;
    width: 100%;
}


/* .columns {
    overflow: hidden;
    padding: 50px 30px;
} */

.inner-column {
    /* width: 18%; */
}

#flip-card .flip-card-front:hover,
#flip-card .flip-card-back:hover {
    -webkit-box-shadow: 15px 15px 20px rgb(0, 0, 0, 0.1), -15px -15px 20px #fff;
    -moz-box-shadow: 15px 15px 20px rgb(0, 0, 0, 0.1), -15px -15px 20px #fff;
    box-shadow: 15px 15px 20px rgb(0, 0, 0, 0.1), -15px -15px 20px #fff;
}

.box {
    /* Basic styling and alignment */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
    border-radius: 4px;
    width: 150px;
    height: 150px;
    /* Basic styling and alignment */
    /* For Neumorphism Effect */
    background-color: #E0E5EC;
    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.5);
    /* For Neumorphism Effect */
}

.box:hover {
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.circle {
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(234, 234, 234), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.circle:hover {
    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.5);
}


/* /////////////////////////        Tooltip          ///////////////////////// */


/* Add this attribute to the element that needs a tooltip */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}


/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}


/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 125%;
    left: 114%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 110px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsl(220, 60%, 20%);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}


/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsl(220, 60%, 20%);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}


/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


/* ////////////////////////////////////////////////////////////////////////// */

:focus {
    outline: none;
}

.colll-3 {
    width: 100%;
    float: left;
    margin: 18px 0%;
    position: relative;
}

.effect-16 {
    width: 100%;
    border: 0;
    font-size: 20px;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-16~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #142850;
    transition: 0.4s;
}

.effect-16:focus~.focus-border,
.has-content.effect-16~.focus-border {
    width: 100%;
    transition: 0.4s;
}


/* ////////////////////////////////////////// */

.without_focus {
    left: 0;
    position: absolute;
    font-size: 15px !important;
    top: -14px;
    color: #142850;
}

.effect-17 {
    position: relative;
    width: 100%;
    border: 0;
    font-size: 20px;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}


/* /////////////////////////////////////////////// */

.effect-16~label {
    position: absolute;
    /* left: -41%; */
    left: 0;
    /* width: 100%; */
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.effect-16:focus~label,
.has-content.effect-16~label {
    font-size: 15px !important;
    top: -16px;
    font-size: 12px;
    color: #142850;
    transition: 0.3s;
}


/* //////////////////////////////////////////////////////// */

.input-file-container {
    position: relative;
    width: 225px;
}

.js .input-file-trigger {
    border-radius: 10px;
    display: block;
    padding: 14px 45px;
    background: #00a8cc;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.js .input-file:hover+.input-file-trigger,
.js .input-file:focus+.input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #142850;
    color: #ffffff;
}

.file-return {
    margin: 0;
}

.file-return:not(:empty) {
    padding: 2.5em 0;
}

.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}

.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}


/* Useless styles, just for demo styles */

.font_grey {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color: #808080;
}

.top_6 {
    top: 6px !important;
}

.padd_15 {
    padding: 15px !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fb5454;
}


/* ///////////////////////////////     Avatar  chooose   //////////////////////////// */

.avatars>input {
    display: none;
}

.avatars>input+img {
    cursor: pointer;
    border: 2px solid transparent;
    width: 50px;
    /* border: 2px solid #142850; */
    height: 50px;
    border-radius: 50px;
    filter: grayscale(1);
}

.avatars>input:checked+img {
    width: 50px;
    border: 2px solid #142850;
    height: 50px;
    border-radius: 50px;
    filter: grayscale(0);
    transition: width 0.20s linear 0.10s;
}

.avatars>input:hover+img {
    width: 50px;
    /* border: 1px dasher #142850; */
    height: 50px;
    border-radius: 50px;
    filter: grayscale(0);
    transition: width 0.20s linear 0.10s;
}


/* ////////////////////////////////////////////////////////? */

.avatar-upload {
    position: relative;
    max-width: 165px;
    margin: 10px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #142850;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #142850;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #fcfcfc;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #aaaaaa;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* ///////////////////////////////////////////////////////////////////// */

.h4_middle_line {
    width: 68%;
    text-align: center;
    border-bottom: 1px dashed rgb(133, 133, 133);
    line-height: 0.1em;
    margin: 10px 15% 20px;
}

.h4_middle_line span {
    color: #333333;
    background: #f8f9fd;
    padding: 0 40px;
}

.neuphormic_shadow {
    -webkit-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
    border-radius: 10px;
    background: #f8f9fd;
}

.neuphormic_shadow:hover {
    -webkit-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 10px #fff;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
    border-radius: 10px;
    background: #f8f9fd;
}
.parsley-errors-list {
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
}
.parsley-required,.parsley-type{
    float: left;
    color: red;
}
